<nav class="pcoded-navbar">
    <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
    <div class="pcoded-inner-navbar main-menu">
        
        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation"></div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="">
                <a routerLink="/dashboard">
                    <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                    <span class="pcoded-mtext" data-i18n="nav.dash.main">Dashboard</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>
        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.forms">Department</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="">
                <!-- <a routerLink="/add-organisation" > -->
                <a routerLink="/add-department" >

                    <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">Add Department</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>

            <li class="">
                <a routerLink="/department" >
                    <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">view Department</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>


        </ul>

        <!-- <div class="pcoded-navigatio-lavel" data-i18n="nav.category.forms">Department</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="">
                <a routerLink="/add-depatment" >
                    <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">Add Department</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li class="">
                <a routerLink="/get-roles" >
                    <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">view Department</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li> -->
            <!-- <li class="">
                <a routerLink="/add-user" >
                    <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">Add User</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li> -->
        <!-- </ul> -->

       

        <!-- newwwwww -->
         <div class="pcoded-navigatio-lavel" data-i18n="nav.category.forms">Third party organisation</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="">
                <a routerLink="/add-thirdparty" >
                    <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">3rd Party Organisation</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>

            <li class="">
                <a routerLink="/thirdparty" >
                    <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">View 3rd Party Org</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>


        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.forms">Roles</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="">
                <a routerLink="/add-roles" >
                    <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">Add Roles</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>

            <li class="">
                <a routerLink="/roles" >
                    <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">View Roles</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>

        </ul>

        
        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.forms">Application</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="">
                <a routerLink="/add-application" >
                    <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">Add Application</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li class="">
                <a routerLink="/application" >
                    <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">View Application</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>


        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.forms">User</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="">
                <a routerLink="/add-user" >
                    <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">Add User</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li class="">
                <a routerLink="/user" >
                    <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">View user</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>


        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.forms">Training</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="">
                <a routerLink="/add-training" >
                    <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">Add Training</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li class="">
                <a routerLink="/training" >
                    <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">View Training</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>

        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.forms">Report type</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="">
                <a routerLink="/add-reporttype" >
                    <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">Add Report type</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li class="">
                <a routerLink="/reporttype" >
                    <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">View Report type</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>


        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.forms">Letter</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="">
                <a routerLink="/add-letter" >
                    <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">Add Letter</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li class="">
                <a routerLink="/letter" >
                    <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">View Letter</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>

        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.forms">Report</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="">
                <a routerLink="/add-report" >
                    <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">Add Report</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li class="">
                <a routerLink="/report" >
                    <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">View Report</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>


        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.forms">User-Role Mapping</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="">
                <a routerLink="/add-user-role-map" >
                    <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">User-Role Mapping</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li class="">
                <a routerLink="/user-role-map" >
                    <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                    <span class="pcoded-mtext" data-i18n="nav.form-components.main"> view User-Role Mapping</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
           
        </ul>
        
    </div>


    
</nav>

